@charset "UTF-8";
/* Regra do charset caso haja problemas com acentuacação */

body{
    background-color: lightsalmon;
    color: darkgreen;
    text-align: justify ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1{
    color: darkmagenta;
    background-color: lightgreen;
}

h2{
    color: darkcyan;
    background-color: rgb(8, 94, 0);
}
